// Palette de couleurs
$color-light-blue: #f1f8fc;
$color-blue: #0074c7;
$color-dark-blue: #00497c;
$color-dark-gray: #384050;
$color-red: #cd2c2e;
$color-green: #82b864;

// Autres variables
$font-family-base: 'Graphik', sans-serif;
$border-radius: 0.25rem;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px; 