@import '../variables.scss';

.artisans-list-page {
  padding: 2rem 0 4rem;
  min-height: calc(100vh - 200px); /* Hauteur minimale pour pousser le footer vers le bas */
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 1.5rem;
    color: $color-dark-blue;
    font-size: 2rem;
    text-align: center;

    @media (min-width: $breakpoint-md) {
      font-size: 2.5rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    justify-content: center;
    flex: 1;
    
    @media (min-width: $breakpoint-sm) {
      grid-template-columns: repeat(2, minmax(0, 400px));
      justify-content: center;
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, minmax(0, 350px));
      max-width: 1080px;
    }

    @media (min-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, minmax(0, 350px));
      max-width: 1140px;
    }
    
    @media (max-width: $breakpoint-sm) {
      padding: 0 20px;
    }
  }

  .text-center {
    text-align: center;
    margin: 3rem 0;
  }

  .text-danger {
    color: $color-red;
  }
} 