@import '../variables.scss';

.artisans-list-page {
  padding: 2rem 0 4rem;
  min-height: calc(100vh - 200px); /* Hauteur minimale pour pousser le footer vers le bas */
  display: flex;
  flex-direction: column;
  position: relative; /* Ajout pour assurer un bon positionnement */
  padding-bottom: 150px; /* Espace supplémentaire en bas pour éviter le débordement sur le footer */
  
  @media (max-width: $breakpoint-sm) {
    padding-bottom: 200px; /* Plus d'espace en bas pour les mobiles */
  }

  &__title {
    margin-bottom: 1.5rem;
    color: $color-dark-blue;
    font-size: 2rem;
    text-align: center;

    @media (min-width: $breakpoint-md) {
      font-size: 2.5rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center; /* Centre verticalement le contenu */
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    justify-content: center;
    align-items: stretch; /* Étire les cartes à la même hauteur */
    margin-bottom: 3rem; /* Marge en bas pour éviter le débordement */
    
    @media (min-width: $breakpoint-sm) {
      grid-template-columns: repeat(2, minmax(0, 400px));
      justify-content: center;
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, minmax(0, 350px));
      max-width: 1080px;
    }

    @media (min-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, minmax(0, 350px));
      max-width: 1140px;
    }
    
    @media (max-width: $breakpoint-sm) {
      padding: 0 20px;
      margin-bottom: 4rem; /* Plus de marge en bas pour les mobiles */
    }
  }

  .text-center {
    text-align: center;
    margin: 3rem 0;
  }

  .text-danger {
    color: $color-red;
  }
} 